.btn-primary,
.btn-primary:active,
.btn-primary:hover,
.btn-primary.active {
  color: $light !important;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:hover,
.btn-secondary.active {
  color: $light !important;
}

.btn-outline-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary.active {
  color: $light !important;
}

.btn-outline-secondary:active,
.btn-outline-secondary:hover,
.btn-outline-secondary.active {
  color: $light !important;
}