.servicescallout-wrapper {
    background-color: $light;
}

.homecards-wrapper {
    background-color: $muted-green;
}

.contactblock-wrapper {
    background: $secondary url('./images/contactblock-bg.jpg') no-repeat fixed center/cover;
    a:hover {
        color: $primary-lighten;
    }
}

div.services-listgroup {
    border: 1px solid $gray-300;
}

div.services-listgroup div:nth-child(odd) {
    background: lighten($primary, 30%);
}