.servicescallout-wrapper {
    background-color: $light;
}

.homecards-wrapper {
    background-color: $muted-green;
}

.contactblock-wrapper {
    background: $secondary url('./images/contactblock-bg.jpg') no-repeat fixed center/cover;
    a:hover {
        color: $primary-lighten;
    }
}

div.services-listgroup {
    border: 1px solid $gray-300;
    color: $text-muted;

    div.list-group-item {
        padding: .2rem 0;
    }

    div:nth-child(odd) {
        background: lighten($primary, 40%);
    }

}

.success-message {
    padding: 5em 0;
}

.referral-info {
    padding: 3.5em 0;
    background: $secondary url('./images/contactblock-bg.jpg') no-repeat fixed center/cover;
}