.contact-form {
    max-width: 940px;
}

.form-control {
    padding: 1.3rem 1rem;
    margin-bottom: 30px;
    border-radius: 0;
    border: 1px solid $light;
}

textarea.form-control {
    padding: 1rem;
}

input::placeholder {
    color: $text-muted;
}

select.form-control {
    color: $text-muted;
    padding: 0;
}

.contact-select-wrapper {
    padding: 2px;
    margin-bottom: 30px;
    border: 1px solid $white;
    background: $white;
}

#g-recaptcha {
    @include media-breakpoint-up(xs) {
        margin-bottom: 30px;
    }
    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }
}