.mainjumbotron {
    background-image: url('./images/mainjumbotron-bg.jpg');
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}