@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'PT Serif', serif;
$headings-font-family: $font-family-serif;
$enable-responsive-font-sizes: true;

$display3-size: 3.5rem;
$display4-size: 2rem;

$primary: #78b96f;
$secondary : #293f60;
$muted-green: #eff1ed;
$light: #f7f7f7;
$dark-accent: #507255;

$link-lighten: lighten($primary, 15%);